
<header id="header">
      <div class="container">

        <!-- LOGO -->
        <a href="index.html" class="logo"><img alt="" src="/assets/logo.png" height="60" /></a>
        <!-- LOGO -->

       


        <!-- TOP MENU -->
        <div class="navbar-collapse nav-main-collapse collapse pull-left">
            <%= navigation_menu.to_html %>
         </div>
        <!-- /TOP MENU -->

      </div>
</header>


