


<div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="../" class="navbar-brand">
            <%=  Refinery::Core.site_name %>
          </a>
        </div>
       
          
           <%= navigation_menu.to_html %>

      
      </div>
    </div>

